{% extends "booking/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">انضم إلى الحلاقين</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">اشتراك</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">هل لديك حساب؟ <a class="ml-2" href="{% url 'login' %}">تسجيل الدخول</a>
            </small>
        </div>
    </div>

{% endblock content %}